
.forum-div
{
    text-align: left;
    border: 3px solid rgb(45, 42, 224);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url("./img/multi.png");
    background-size: 300px 300px;
    box-shadow: 4px 4px 5px #dbd7e0;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.forum-div:hover
{
    transform: scale(1.05);
    box-shadow: 8px 8px 10px #dbd7e0;
    z-index: 50;
}

.forum-item
{
    color: #7f7fff;
}

.forum-value
{
    color: #c0c0c0;
}

.addSpectator
{
    width: 25px;
    height: 25px;
    background-color: rgb(14, 2, 122);
    width: 25px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    margin-top: 2px;
    cursor: pointer;
}

.addModerator
{
    width: 25px;
    height: 25px;
    background-color: rgb(5, 134, 1);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    margin-top: 2px;
    cursor: pointer;
}