
.forum-div
{
    text-align: left;
    border: 3px solid rgb(45, 42, 224);
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}

.forum-item
{
    color: #7f7fff;
}

.forum-value
{
    color: #c0c0c0;
}

.addSpectator
{
    width: 25px;
    height: 25px;
    background-color: rgb(14, 2, 122);
    width: 25px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    margin-top: 2px;
    cursor: pointer;
}

.addModerator
{
    width: 25px;
    height: 25px;
    background-color: rgb(5, 134, 1);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    margin-top: 2px;
    cursor: pointer;
}