.sign-up
{
    text-align: left;
    margin: 2rem 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
}

.main-text
{
    color: #ffffff;
}

.info-message
{
    height: 50px;
    text-align: left;
    margin-bottom: 10px;
}

.member-div
{
    display: inline-block;
   
}

.float-right-div
{
    float: right;
}

.text-input
{
    background-color: rgba(2, 0, 7, 0) !important;
    color: rgb(255, 255, 255) !important;
}