html,
body
{
    height: 100%;
    font-family: sans-serif;
    background-size: 100px 100px;
    margin: 0;
    padding: 0;
}

#page-body
{
    flex: 1 0 auto;
    background-image: linear-gradient(to right, rgba(68, 68, 68, 0.7), rgba(0, 0, 0, 0.9)), url('./img/blocks2.png');
}

#root
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-fluid
{
    margin: 0;
    padding: 0;
}

