.personal-score-div
{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .6);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.personal-score-header
{
    font-family: sans-serif;
    color: #777777;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}