.deleteSpectator
{
    width: 25px;
    background-color: rgb(119, 1, 1);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    margin-top: 2px;
    cursor: pointer;
}

.deleteSpectator:hover
{
    background-color: rgb(252, 4, 4);
}

.addSpectator
{
    
    background-color: rgb(14, 2, 122);
    width: 25px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    margin-top: 2px;
    cursor: pointer;
}

.addSpectator:hover
{
    background-color: rgb(3, 80, 196);
}