.score-text
{
    color: #7f7fff;
}

.data-text
{
    text-align: right;
    right: 0;
    color: #c0c0c0;
    right: 0;
}

.score-row
{
    width: 100%;
    font-size: 1rem;
}

.leader-rank-text
{
    display: inline-flex;
    justify-content: center;
    padding-left: 30%;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

.linesImg
{
    filter: invert(1);
    width: 10%;
}

.levelImg
{
    filter: brightness(.9) invert(1);
    width: 10%;
}

.score
{
    display: inline-flex;
    justify-content: center;
    padding-left: 30%;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}
