.score-text
{
    color: #7f7fff;
}

.data-text
{
    text-align: right;
    right: 0;
    color: #c0c0c0;
    right: 0;
}

.score-row
{
    width: 100%;
    font-size: 1rem;
}

.leader-rank-text
{
<<<<<<< HEAD
    display: inline-flex;
    justify-content: center;
    padding-left: 0%;
=======
    display: inline-block;
>>>>>>> 24acfdc8c74861f177d3bec6d2df65b92c659822
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

.linesImg
{
    filter: invert(1);
    width: 10%;
}

.levelImg
{
    filter: brightness(.9) invert(1);
    width: 10%;
}

.score
{
    display: inline-flex;
    justify-content: center;
    padding-left: 30%;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

<<<<<<< HEAD
.player
{
    padding-left: 60%;
=======
.player-text
{
    display: inline-block;
    color: #a7a7a7;
    font-size: 2rem;
    font-weight: bold;

>>>>>>> 24acfdc8c74861f177d3bec6d2df65b92c659822
}
