.score-text
{
    color: #7f7fff;
}

.data-text
{
    text-align: right;
    right: 0;
    color: #c0c0c0;
    right: 0;
}

.score-row
{
    width: 100%;
    font-size: 1rem;
}

.leader-rank-text
{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}