/******************************************* HTML Tags *******************************************/

body, html
{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(68, 68, 68, 0.7), rgba(0, 0, 0, 0.9)), url('../img/blocks2.png');
}

h1
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

h4
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 2px;
}

h5
{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

p
{
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #3f3f3f;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

ul
{
    list-style-type: disc;
    margin-left: 10%;
}

pre
{
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }

/******************************************** Header *********************************************/

.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-color: rgba(30, 47, 126, 0.3);
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
    padding: 20px 0px;
}

/******************************************** Footer *********************************************/

footer
{
    border-top: 1px solid #666666;
    background-image: linear-gradient(to right, rgba(109, 179, 242, .6), rgba(30, 47, 126, 0.3)), url('../img/noisy_net.png');
    color: #ffffff;
}

/******************************************* Page Body *******************************************/

#page-body
{
    flex: 1 0 auto;
}

.pause-text
{
    position: absolute;
    z-index: 3;
}

.conatiner
{
    padding-left: 0px;
}

#renderCanvas
{
    height: calc(100vh - 130px);
    width:  calc(50vh);
    touch-action: none;
}

#pieceCanvas
{
    touch-action: none;
}

#start-btn
{
    width: 100%;
}

.score-div
{
    background-color: rgba(0, 0, 0, .6);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 5px;
}

.level-div
{
    background-color: rgba(0, 0, 0, .6);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 5px;
}

.level-div > h2
{
    color: #ffffff;
    font-weight: bold;
}

.right-align
{
    width: 100%;
    text-align: right;
}

#h-status
{
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.invisible
{
    opacity: 0;
}

/****************************************** Level Cards ******************************************/

.card
{
    display: inline-block;
    background: #fff;
    border-radius: 2px;
    margin: .5rem;
    position: relative;
    width: 35px;
    height: 35px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    transition: transform .2s;
}

.card:hover
{
    transform: scale(1.2);
    text-decoration: none;
    cursor: pointer;
    background: #fff;
}
  
.card > .img-container
{
    display : flex;
    align-items : center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.img-container > h4
{
    font-weight: normal;
}

.img-container:hover
{
    background: rgb(8, 164, 241);
}

.selected-img-container
{
    background-color: rgb(8, 164, 241);
}

.notSelected-img-container
{
    background: rgb(43, 1, 139);
    height: 100%;
}

/******************************************** Navbar *********************************************/

.navbar-site
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(30, 47, 126, 0.3), rgba(109, 179, 242, .6)), url("../img/noisy_net.png");
    border-bottom: 2px solid #777777;
    border-top: none;
    border-left: none;
    border-right: none;
}


.navbar-site > h4
{
    font-size: 1.4em;
    font-family: sans-serif;
    color: #ffffff;
    padding-top: 5px;
}

.navbar__link
{
    font-size: 1.4em;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.navbar__link:hover
{
    color: #c5c5c5;
    text-decoration: none;
}
  
.nav-item
{
    padding: 3px 10px 0px 10px;
    transition: transform .2s;
}
  
.nav-item:hover
{
    transform: scale(1.1);
    text-decoration: none;
    cursor: pointer;
}

/****************************************** 2D Renderer ******************************************/

.this-p
{
    display: inline-block;
    line-height: 0;
    padding-left: 5px;
}

.this-div
{
    box-sizing: border-box;
    margin: 0;
    line-height: 0;
}

.this-span
{
    position: relative;
    box-sizing: border-box;
    background-color: black;
    border: 1px solid #0f0f0f;
    display: inline-block;
    text-align: center;
}

.next-span
{
    box-sizing: border-box;
    background-color: black;
    border: 1px solid #0f0f0f;
    display: inline-block;
    text-align: center;
}

#gf-div
{
    width:  100%;
    height: calc(100vh - 120px);
}

#piece-div
{
    width:  100%;
    height: 100%;
}

/********************************************* Misc **********************************************/

.multi-div
{
    width:  100%;
    height: calc(100vh - 120px);
}

.chat-container
{
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 5px;
}

.chat-div
{
    width: 100%;
    height: 400px;
    overflow: auto;
    border-radius: 3px;
    background-color: rgba(2, 0, 7, 0);
    scrollbar-arrow-color: dark !important;
}

#chat-input
{
    color: #ffffff;
}

.chat-username
{
    font-size: .8em;
    color: #ffffff;
    font-weight: bold;
}

.chat-usertext
{
    font-size: .8em;
    color: #c0c0c0;
}

.chat-usertext-moderated
{
    font-size: .9em;
    color: #c0c0c0;
    font-style: italic;
}

.comment-div
{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.deleteCommentBtn
{
    width: 25px;
    height: 25px;
    background-color: rgb(119, 1, 1);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    margin-top: 2px;
    cursor: pointer;
}

.deleteCommentBtn:hover
{
    background-color: rgb(252, 4, 4);
}

.restoreCommentBtn
{
    width: 25px;
    height: 25px;
    background-color: rgb(4, 3, 109);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    margin-top: 2px;
    cursor: pointer;
    font-weight: bold;
}

.restoreCommentBtn:hover
{
    background-color: rgb(4, 161, 252);
}

.form-text
{
    background-color: transparent;
}

.form-text:focus
{
    background-color: transparent;
}

.score-div
{
    text-align: left;
    border: 3px solid rgb(45, 42, 224);
    border-radius: 10px;
    padding: 5px;
}

.score-text
{
    color: #7f7fff;
}

.data-text
{
    text-align: right;
    color: #c0c0c0;
}

.not-seated
{
    color: #ff0000;
}

.seated
{
    color: #00ff00;
}

.player-text
{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
}

